book/_build/
book/_extensions/__pycache__
_build/
.venv
octave-workspace
bin/
.DS_Store
book/lecture-*/asymptotic_bode.m
book/lecture-*/asymptotic_bodemag.m
book/lecture-*/bodeplot_universal.m
.ipynb_checkpoints
.pyc
**/__pycache__