/* Hide scrollbar for primary and secondary sidebars */
.bd-sidebar-primary,
.bd-sidebar-secondary {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto !important; /* Keep it scrollable but hide the bar */
}

.bd-sidebar-primary::-webkit-scrollbar,
.bd-sidebar-secondary::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

html[data-theme="dark"] img, 
html[data-theme="dark"] .cell_output img, 
html[data-theme="dark"] .rendered_html img {
    filter: invert(0.93) hue-rotate(180deg) !important;
    mix-blend-mode: normal !important; 
    background-color: transparent !important;
}
